//colors
$color_azure_radiance_approx: #09f;
$black_30: rgba(0, 0, 0, 0.3);
$bluish_white: #F6FBFF;
$white: #fff;
$color_cornflower_blue_approx: #4d90fe;
$myhood-red: red;
$yellow: yellow;

//fonts
$font_0: 'Roboto';

html, .container, .row, .map {
	height: 100%;
}
body {
	font-family: $font_0;
	height: 100%;
	margin: 0;
	padding: 0;
}
div#list h2 {
	text-align: center;
	margin-top: .25em;
	font-size: 1.75em;
}
ul {
	padding: 0;
	margin: 0;
}
div#list ul li {
	cursor: pointer;
	padding-left: 0;
	margin: 0;
	p {
		text-align: center;
		padding: 5px;
		margin: 0;
	}
	&:hover {
		background-color: $color_azure_radiance_approx;
		opacity: 1;
	}
}
hr {
	margin: 0;
	padding: 0;
}
#map-canvas {
	height: 100%;
	width: 100%;
}

.googleinfowindow {
	font-size: 1em;
}

.reset-button {
	background-color: $yellow;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px .375em $black_30;
	cursor: pointer;
	margin-bottom: 1.375em;
	margin-left: .375em;
	text-align: center;
}

.reset-button-text {
	font-size: 1.25em;
	color: rgb(25,25,25);
	line-height: 2.375em;
	padding-left: .375em;
	padding-right: .375em;
}

.controls {
	margin-top: 1em;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	height: 2em;
	outline: none;
	box-shadow: 0 2px .375em $black_30;
}

#list {
	background-color: $bluish_white;
	font-size: 1.25em;
	font-weight: 300;
	margin-left: 1.125em;
	padding: 0;
	overflow: scroll;
	width: 30%;
	height: 83%;
	top: 1em;
	opacity: .9;
}

#pac-input {
	background-color: $white;
	font-size: 1.25em;
	font-weight: 300;
	margin-left: 1.125em;
	padding: 0 .688em 0 .813em;
	text-overflow: ellipsis;
	width: 30%;
	&:focus {
		border-color: $color_cornflower_blue_approx;
	}
}

p.name {
	font-size: .875em;
	font-weight: bold;
}
