//colors
$color_azure_radiance_approx: #09f;
$black_30: rgba(0, 0, 0, 0.3);
$bluish_white: #F6FBFF;
$white: #fff;
$color_cornflower_blue_approx: #4d90fe;
$myhood-red: red;

//fonts
$font_0: 'Roboto';

html, .container, .row, .map {
	height: 100%;
}
body {
	font-family: $font_0;
	height: 100%;
	margin: 0;
	padding: 0;
}
div#list h2 {
	text-align: center;
	margin-top: .25em;
}
ul {
	padding: 0;
	margin: 0;
}
div#list ul li {
	cursor: pointer;
	padding-left: 0;
	margin: 0;
	p {
		text-align: center;
		padding: 5px;
		margin: 0;
	}
	&:hover {
		background-color: $color_azure_radiance_approx;
		opacity: 1;
	}
}
hr {
	margin: 0;
	padding: 0;
}
#map-canvas {
	position:fixed;
	height: 100%;
	width: 100%;
//	height:calc(100% - 0px);
}

.myhood-list ul,
.search-myhood {
	position:fixed;
	top:0;
	right:0;
	width:400px;
	background-color:rgba(white, 0.85);
}

.myhood-list ul {
	margin-right:-100%;
	padding:60px 0 20px;
	height:100%;
	overflow-y:auto;
	z-index:9;
//	@include transition-property(all);
//	@include transition-duration(0.5s);
	&.show {
		margin-right:0;
	}
	h3 {
		font-size:24px;
		font-weight:400;
		line-height:1.42em;
		margin-top:0;
		color:$myhood-red;
		span {
			border-bottom:1px solid $myhood-red;
		}
	}
	p {
		span {
			display:block;
		}
	}
	li {
		list-style:none;
		margin:0;
		padding:30px 20px 20px;
		border-top:1px dashed #ccc;
		cursor:pointer;
		&:first-child {
			border-top:0;
		}
		&:hover {
			background-color:lightyellow;
		}
		&.active {
			background-color:#efefef;
		}
	}
}

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 2px 0 0 2px;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	height: 32px;
	outline: none;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 6px $black_30;
}

@media screen and(min-width: 640px) {
#list {
	background-color: $bluish_white;
	font-size: 11px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0;
	overflow: auto;
	width: 25%;
	height: 80%;
	overflow-y: scroll;
	top: 1em;
	opacity: .9;
}
}

@media screen and(max-width: 639px) {
#list { display: none; }
}

@media screen and(max-width: 400px) {
	#pac-input {
		width: 90%;
		&:focus {
			width: 91%;
		}
	}
}
#pac-input {
	background-color: $white;
	font-size: 15px;
	font-weight: 300;
	margin-left: 18px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 40%;
	&:focus {
		border-color: $color_cornflower_blue_approx;
//		margin-left: -1px;
		padding-left: 14px;
		width: 41%;
	}
}

#type-selector {
	color: $white;
	background-color: $color_cornflower_blue_approx;
	padding: 5px 11px 0;
	label {
		font-size: 13px;
		font-weight: 300;
	}
}
p.name {
	font-size: 14px;
	font-weight: bold;
}
